{
  "extends": ["@react-native-community", "airbnb-typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "no-console": [
          "warn",
          {
            "allow": ["warn", "error"]
          }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "react": {
        "version": "detect"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "tsconfig.json"
  }
}
